<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">

    {{ghost_head}}
    <meta property="og:image:alt" content="{{meta_title}}">
</head>

<body class="{{body_class}} is-head-{{#match @custom.navigation_layout "Logo on the left"}}left-logo{{else match @custom.navigation_layout "Logo in the middle"}}middle-logo{{else}}stacked{{/match}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
<div class="gh-site">

    <header id="gh-head" class="gh-head gh-outer">
        <div class="gh-head-inner gh-inner">
            <div class="gh-head-brand">
                <div class="gh-head-brand-wrapper">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">
                        {{else}}{{! Nếu là trang chủ thì bọc site.title trong thẻ h1, còn không thì bọc trong thẻ span }}
                            {{#is "home"}}
                                <h1 class="site-title">{{@site.title}}</h1>
                            {{else}}
                                {{@site.title}}
                            {{/is}}
                        {{/if}}
                    </a>
                </div>
                <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                <button class="gh-burger"></button>
            </div>

            <nav class="gh-head-menu">
                {{navigation}}
                {{#unless @site.members_enabled}}
                    {{#match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{/unless}}
            </nav>

            <div class="gh-head-actions">
                {{#unless @site.members_enabled}}
                    {{^match @custom.navigation_layout "Stacked"}}
                        <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                    {{/match}}
                {{else}}
                    <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                    <div class="gh-head-members">
                        {{#unless @member}}
                            {{#unless @site.members_invite_only}}
                                <a class="gh-head-link" href="#/portal/signin" data-portal="signin">{{t "Sign in"}}</a>
                                <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">{{> "icons/email"}} {{t "Subscribe"}}</a>
                            {{else}}
                                <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signin" data-portal="signin">{{t "Sign in"}}</a>
                            {{/unless}}
                        {{else}}
                            <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/account" data-portal="account">{{t "Account"}}</a>
                        {{/unless}}
                    </div>
                {{/unless}}
            </div>
        </div>
    </header>

    {{{body}}}{{! body is the main content of the page }}

    <footer class="gh-foot{{#unless @site.secondary_navigation}} no-menu{{/unless}} gh-outer">
        <div class="gh-foot-inner gh-inner">
            {{#if @site.secondary_navigation}}
                <nav class="gh-foot-menu">
                    {{navigation type="secondary"}}
                </nav>
            {{/if}}
            <div class="gh-copyright">
                {{@site.title}} © 2013 - {{date format="YYYY"}}
            </div>            
            <div class="gh-powered-by">
                {{t "Powered by"}} <a href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a>, {{t "using the theme"}} <a href="https://github.com/nguyenhongthe/myghost/" target="_blank" rel="noopener">{{t "MyGhost"}}</a>, {{t "and hosted on"}} <a href="https://www.vultr.com/?ref=9226911-8H" target="_blank" rel="noopener">Vultr</a>.
            </div>
            <div class="gh-social-links">
                {{#if @site.twitter}}
                    <a href="https://twitter.com/{{@site.twitter}} " target="_blank" rel="noopener">
                        {{> "icons/twitter"}}
                    </a>
                {{/if}}
                {{#if @site.facebook}}
                    <a href="https://facebook.com/{{@site.facebook}}" target="_blank" rel="noopener">
                        {{> "icons/facebook"}}
                    </a>
                {{/if}}
                {{#if @custom.github}}
                    <a href="https://github.com/{{@custom.github}}" target="_blank" rel="noopener">
                        {{> "icons/github"}}
                    </a>
                {{/if}}
            </div>
        </div>
    </footer>

</div>

{{#is "post, page"}}
    {{> "pswp"}}
{{/is}}

<script src="{{asset "built/main.min.js"}}"></script>

{{ghost_foot}}

</body>

</html>